<!DOCTYPE html>
<html>

<head>
    <title>Visitor Management System</title>
    <style>
        /* Add your CSS styles here for formatting */
    </style>
</head>

<body>

    <nav>
        <!-- Add navigation links here -->
        <ul>
            <li><a href="#">Operations</a></li>
            <li><a href="{% url 'visitors-home' %}">Home</a></li>
            <li><a href="{% url 'visitors-about' %}">About</a></li>
            <li><a href="#">Contact Us</a></li>
            
        </ul>
    </nav>


    <header>
        <h1>Visitor Management System</h1>
    </header>

    {% block content %}



    {% endblock %}
</body>

</html>